stages:
  - build
  - push
  - deploy

variables:
  DOCKER_IMAGE_NAME: "$DOCKER_HUB_USERNAME/roast-generator"
  DOCKER_IMAGE_TAG: "$CI_COMMIT_SHA"

build:docker:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG .
    - docker build -t $DOCKER_IMAGE_NAME:latest .
    - echo "Docker image built successfully"
  only:
    - main
    - develop
  tags:
    - docker

push:docker:
  stage: push
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USERNAME --password-stdin
  script:
    - docker build -t $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG .
    - docker push $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
    - docker build -t $DOCKER_IMAGE_NAME:latest .
    - docker push $DOCKER_IMAGE_NAME:latest
    - echo "Image pushed to Docker Hub: $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG"
  only:
    - main
  tags:
    - docker